:root,.dark {
	--color-bg: #222;
	--color-face: #555; /* import action element for dark mode*/
	--color-deep: #333; /* empty space ,default body bg */

	--color-fg:#eee;
	--color-pen:#999;

	--color-accent:#27b;
	--color-accent-low:rgba(34, 119, 187, 0.15);

	--color-success: #3a3;
	--color-success-low: rgba(51, 170, 51, 0.15);

	--color-warning: #fd2;
	--color-warning-low: rgba(255, 221, 34, 0.15);

	--color-danger: #e44;
	--color-danger-low:rgba(238, 68, 68, 0.15);
}